<div class="container-fluid">
    <div class="container">
        <div class="row pt-5" style="height: 100vh;">
            <div class="col-6"  style="margin-top: 7%;">
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <div class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle"> <b>Contact</b> </p>
                        <h2 class="contactTitle">Get In Touch <br>With Me.</h2>
                        <p class="contactDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti saepe, laboriosam eum accusantium nesciunt 
                            dolore molestiae reiciendis nostrum recusandae ab facilis quos repellendus architecto at eaque nulla itaque! Laborum, cum!</p>
                    </div>
                    
    
                </div>
                <div class="row p-0 m-0" style="height: 10%; text-align: center;">
                    <div class="col-1"><img width="25" height="25" src="assets/images/google.png" alt="googleicon"></div>
                    <div class="col-1"><img width="25" height="25" src="assets/images/linkedin.png" alt="linkedinicon"></div>
                    <div class="col-1"><img width="25" height="25" src="assets/images/twitter.png" alt="twitterv"></div>
                    <div class="col-1"><img width="25" height="25" src="assets/images/whatsapp.png" alt="whatsappicon"></div>
                    <div class="col-1"><img width="25" height="25" src="assets/images/instagram.png" alt="instagramicon"></div>
                    <div class="col-1"><img width="25" height="25" src="assets/images/facebook.png" alt="facebookicon"></div>
                </div>
    
                <div class="row p-0 m-0">
                    <button type="button" class="btnClass my-2 mx-2">Contact Me</button>
                </div>
            </div>
            <div class="col-6">
                <img src="assets/images/ContactMeIllustration.svg" alt="" style="width: 100%;">
            </div>
        </div>
    </div>
</div>



<div class="container-fluid mt-5" style="background-color: #ffffff; height:600px; margin-top: 10% !important;">
    <div class="container ">
        <div class="row " style="height: 650px;">
            <div class="col-6" >
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <div class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle"> <b>Say Hello</b> </p>
                        <h2 class="contactTitle">Take a Coffee<br>& Drop Your Mail.</h2>
                        <p class="contactDescription">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Ut elit tellus, luctus nec ullamcorper mattis, pulvinar dapibus leo.
                        </p>
                    </div>
                </div>
                <div class="row p-0 mx-2 mb-3 socialHandleContainer">
                    <div class="col-12">

                        <div class="row align-items-center" style="height: 65px;">
                            <div class="col-2">
                                <img src="assets/images/google.png" alt="googleicon" class="contactSocialMediaImg">
                            </div>
                            <div class="col-9 px-1">
                                <span class="contactSocialMediaText">gmail.com/shreyasambre00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 mx-2 mb-3  socialHandleContainer">
                    <div class="col-12">

                        <div class="row align-items-center" style="height: 65px;">
                            <div class="col-2">
                                <img src="assets/images/linkedin.png" alt="googleicon" class="contactSocialMediaImg">
                            </div>
                            <div class="col-9 px-1">
                                <span class="contactSocialMediaText">linkedin.com/shreyasambre</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row p-0 mx-2 mb-3  socialHandleContainer">
                    <div class="col-12">

                        <div class="row align-items-center" style="height: 65px;">
                            <div class="col-2">
                                <img src="assets/images/twitter.png" alt="googleicon" class="contactSocialMediaImg">
                            </div>
                            <div class="col-9 px-1">
                                <span class="contactSocialMediaText">twitter.com/shreyasambre</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row p-0 m-0" style="height: 10%; text-align: center;">
                    <div class="col-1"><img width="30" height="30" src="assets/images/google.png" alt="googleicon"></div>
                    <div class="col-1"><img width="30" height="30" src="assets/images/linkedin.png" alt="linkedinicon"></div>
                    <div class="col-1"><img width="30" height="30" src="assets/images/twitter.png" alt="twitterv"></div>
                    <div class="col-1"><img width="30" height="30" src="assets/images/whatsapp.png" alt="whatsappicon"></div>
                    <div class="col-1"><img width="30" height="30" src="assets/images/instagram.png" alt="instagramicon"></div>
                    <div class="col-1"><img width="30" height="30" src="assets/images/facebook.png" alt="facebookicon"></div>
                </div> -->
            </div>
            <div class="col-6" style="margin-top: 3%;">

                <form>
                    <div class="form-group">
                        <input class="form-control form-control-lg my-4 bg-light" type="text" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg my-4 bg-light" type="text" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input class="form-control form-control-lg my-4 bg-light" type="text" placeholder="Subject">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control form-control-lg my-4 bg-light" type="text" rows="4" cols="50" placeholder="Message"></textarea>
                        <!-- <textarea class="form-control contactInputFiled" rows="10" placeholder="Message"></textarea> -->
                    </div>
                    <button type="button" class="btnClass">Submit</button>
                  </form>
            </div>
        </div>
    </div>
    
</div>