.contactContainerColor{
    background-color: #f0fcff;
}

.subTitleDivider{
    height: 2px; 
    /* width: 6%;  */
    width: 42px;
    background-color: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    display: inline-block; 
    vertical-align: middle;
    border-radius: 5px;
}

.contactTitle{
    color: var( --secondary-color );
    font-size: 52px;
    font-weight: 600;
    line-height: 1.3em;
}

.contactSubTitle{
    color: var( --secondary-color );
    font-size: 18px;
    font-weight: 500;
    line-height: 0.2em;
    margin-bottom: 20px;
    display: inline-block;
}

.contactDescription{
    font-size: 16px;
}

.socialHandleContainer{
    background-color: #F2F7FB; 
    border-radius: 10px;
    width: 88%;
}

.contactSocialMediaImg{
    width: 39px;
    height: 39px;
    padding: 2%;
}

.contactSocialMediaText{
    color: var(--secondary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 0.2em;
}

.contactInputFiled{
    height: 50px;
    width: 80%;
    margin: 3% 0px;
}

