<div class="container">
    <div class="row pt-5" style="height: 500px; background-color: aliceblue;">
        <div class="col-6"  style="margin-top: 7%;">
            <div class="row p-0 m-0">
                <div class="col-12">
                    <div class="subTitleDivider"></div>&nbsp;
                    <p class="contactSubTitle"> <b>Contact</b> </p>
                    <h2 class="contactTitle">Get In Touch <br>With Me.</h2>
                    <p class="contactDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti saepe, laboriosam eum accusantium nesciunt 
                        dolore molestiae reiciendis nostrum recusandae ab facilis quos repellendus architecto at eaque nulla itaque! Laborum, cum!</p>
                </div>
                

            </div>
            <div class="row p-0 m-0" style="height: 10%; text-align: center;">
                <div class="col-1"><img width="30" height="30" src="assets/images/google.png" alt="googleicon"></div>
                <div class="col-1"><img width="30" height="30" src="assets/images/linkedin.png" alt="linkedinicon"></div>
                <div class="col-1"><img width="30" height="30" src="assets/images/twitter.png" alt="twitterv"></div>
                <div class="col-1"><img width="30" height="30" src="assets/images/whatsapp.png" alt="whatsappicon"></div>
                <div class="col-1"><img width="30" height="30" src="assets/images/instagram.png" alt="instagramicon"></div>
                <div class="col-1"><img width="30" height="30" src="assets/images/facebook.png" alt="facebookicon"></div>
            </div>
        </div>
        <div class="col-6" style="margin-top: -9%;">
            <img src="assets/images/ContactMeIllustration.svg" alt="" style="width: 100%; height: 100%;">
        </div>
    </div>
</div>