<footer class="page-footer font-small" style="background: #053F5C; color: #ffffff">
    <div class="container-fluid" style="background-color: #f1faff;">
        <div class="container">
            <div class="row py-5 justify-content-between">
                <div class="col-6">
                    <h2 class="contactTitle titleFont">Lets's get in touch</h2>
                  </div>
                  <div class="col-4 text-end align-self-center">
                    <button type="button" class="btnClass homeBtnClass my-2 mx-2" (click)="downloadResume()">
                        <b>Download Resume</b>
                    </button>
                    
                  </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright text-center py-3">
        <b class="subTitleFont">
            © 2022 Copyright: <span class="primary">Shreyas Ambre.</span>  All Right Reserved
        </b>
    </div>
</footer>