<div class="container-fluid shadow bg-white rounded">
  <main>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-3">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <!-- <span class="navtitles mx-2 titleFont" #heading><b></b></span> -->
          <img src="assets/images/shreyasambre-logo.PNG" alt="logo" style="height: 41px;">
        </a>

        <ul class="nav nav-pills">
          <li class="nav-item subTitleFont" [routerLink]="['home']" ><a class="nav-link" routerLinkActive="navBtn">Home</a></li>
          <li class="nav-item subTitleFont" [routerLink]="['about']"><a  class="nav-link" routerLinkActive="navBtn" ><b>About</b></a></li>
          <li class="nav-item subTitleFont" [routerLink]="['contact']"><a  class="nav-link" routerLinkActive="navBtn" ><b>Contact</b></a></li>
        </ul>
      </header>
    </div>
  </main>
</div>
