<div class="container-fluid shadow bg-white rounded">
  <main>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-center py-3 mb-3">
        <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="navtitles mx-2"><b>Shreyas Ambre</b></span>
        </a>
        <ul class="nav nav-pills">
          <li class="nav-item" [routerLink]="['home']" ><a class="nav-link" routerLinkActive="navBtn"><b>HOME</b></a></li>
          <li class="nav-item" [routerLink]="['about']"><a  class="nav-link" routerLinkActive="navBtn" ><b>ABOUT</b></a></li>
          <li class="nav-item" [routerLink]="['contact']"><a  class="nav-link" routerLinkActive="navBtn" ><b>CONTACT</b></a></li>
        </ul>
      </header>
    </div>
  </main>
</div>
