<div class="container-fluid" >
    <div class="container">
        <div class="row pt-5">
            <div class="col-6"  style="margin-top: 7%;">
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <div class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle"> <b>Welcome</b> </p>
                        <h2 class="contactTitle">Hello, My name’s</h2>
                        <h2 class="contactTitle">Shreyas Ambre. I'm</h2>
                        <h2 class="contactTitle">Angular Developer</h2>
                        <!-- <h2 class="contactTitle">Developer</h2> -->
                    </div>
                    

                    <div class="row p-0 m-0" style="height: 10%; text-align: center;">
                        <div class="col-1"><img width="25" height="25" src="assets/images/google.png" alt="googleicon"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/linkedin.png" alt="linkedinicon"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/twitter.png" alt="twitterv"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/github.png" alt="twitterv"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/whatsapp.png" alt="whatsappicon"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/instagram.png" alt="instagramicon"></div>
                        <div class="col-1"><img width="25" height="25" src="assets/images/facebook.png" alt="facebookicon"></div>
                    </div>
    
                </div>
    
                <div class="row p-0 mx-0 my-2">
                    <button type="button" class="btnClass my-2 mx-2" style="width: 170px !important; height: 45px !important;">
                        <b>Contact Me</b>
                    </button>
                </div>
            </div>
            <div class="col-6 text-center">
                <img src="assets/images/profilePic.png" alt="profilePic">
            </div>
        </div>
    </div>
</div>


<div class="container-fluid" style="background-color: #e5e5e5;">
    <div class="container">
        <div class="row align-items-center" style="height: 247px;">
            <div class="col text-center">
                <img src="assets/images/html.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/css.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/js.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/ts.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/angular.png" alt="html" class="homeLanguages">
              </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="container">

        <div class="row py-3 px-0 justify-content-center" style="margin: 7% 0%;">
            <div class="col-7 text-center">
                <p class="contactSubTitle"><b>Introduction</b> </p>
                <h2 class="contactTitle">About Me.</h2>
                <p class="contactDescription">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti saepe, laboriosam eum accusantium nesciunt 
                    dolore molestiae reiciendis nostrum recusandae ab facilis quos repellendus architecto at eaque nulla itaque! Laborum, cum!</p>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <div class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle"> <b>Experience & Responsibilities</b> </p>
                        <h2 class="contactTitle">With 3+ Years of</h2>
                        <h2 class="contactTitle">Experience in Angular</h2>
                        <h2 class="contactTitle"> Development</h2>
                    </div>
                </div>
    
                <div class="row p-0 mx-0 my-2">
                    <button type="button" class="btnClass my-2 mx-2" style="width: 170px !important; height: 45px !important;">
                        <b>Contact Me</b>
                    </button>
                </div>
            </div>
            <div class="col-6 text-center">
                <!-- <img src="assets/images/profilePic.png" alt="profilePic"> -->
            </div>
        </div>
    </div>
</div>

