.contactContainerColor{
    background-color: #f0fcff;
}

.contactTitle{
    color: var( --secondary-color );
    /* font-family: "Poppins", Sans-serif; */
    font-size: 52px;
    font-weight: 600;
    line-height: 1.3em;
}

.subTitleDivider{
    height: 2px; 
    /* width: 6%;  */
    width: 42px;
    background-color: var(--secondary-color); 
    border: 1px solid var(--secondary-color); 
    display: inline-block; 
    vertical-align: middle;
    border-radius: 5px;
}

.contactSubTitle{
    color: var( --secondary-color );
    /* font-family: "Poppins", Sans-serif; */
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 20px;
    display: inline-block;
}

.contactDescription{
    font-size: 16px;
}

.homeLanguages{
    width: 70px;
    height: auto;
}

.contactSocialMediaImg{
    width: 39px;
    height: 39px;
    padding: 2%;
}

.contactDescription{
    font-size: 16px;
}

.homeBtnClass{
    width: 175px !important; 
    height: 45px !important;
}

.recommdationProfilePic{
    /* background-color: var(--recommendation-Profile-background); */
    background-color: #ffaa61;
    border-radius: 50%;
    height: 68px;
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../../assets/images/recommendation_img/1.jfif); */
}

.recommandationContainer{
    width: 90%; 
    height: 350px;  
    background-color: var(--recommendation-background); 
    border-radius: 30px;
}

.recommandationName{
    font-size: 20px;
}

.recommandationDesignation{
    font-size: 15px;
    color: var(--light-black-subtitle-color);
}

.recommandationDescription{
    font-size: 22px;
}

/* Custom Scrollbar Styling  */
::-webkit-scrollbar {
    width: 2px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-background-color); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Custom Scrollbar Styling End  */


/* Fire Blaster Css Start */
#confetti-canvas {
    /* top: 10px; */
    bottom: -30%;
    width: 95%;
    position: absolute;
}
/* Fire Blaster Css End  */


