.contactContainerColor{
    background-color: #f0fcff;
}

.contactTitle{
    color: var( --secondary-color );
    font-family: "Poppins", Sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 1.3em;
}

.subTitleDivider{
    height: 2px; 
    /* width: 6%;  */
    width: 42px;
    background-color: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    display: inline-block; 
    vertical-align: middle;
    border-radius: 5px;
}

.contactSubTitle{
    color: var( --secondary-color );
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 20px;
    display: inline-block;
}

.contactDescription{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
}

.homeLanguages{
    width: 70px;
    height: auto;
}

.contactSocialMediaImg{
    width: 39px;
    height: 39px;
    padding: 2%;
}

.contactDescription{
    font-family: "Poppins", Sans-serif;
    font-size: 16px;
}