<!-- WELCOME SECITON START -->
<div class="container-fluid" >
    <canvas id="confetti-canvas"></canvas>
    <div class="container">
        <div class="row pt-5">
            <div class="col-6"  style="margin-top: 7%;">
                <div class="row p-0 mx-0 my-2">
                    <div   class="col-12">
                        <div  class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle subTitleFont"> <b>Welcome</b> </p>
                        <h2 class="contactTitle titleFont">Hello, My name’s</h2>
                        <h2 class="contactTitle titleFont">Shreyas Ambre. I'm</h2>
                        <h2 class="contactTitle titleFont">Angular Developer</h2>
                        <!-- <h2 class="contactTitle">Developer</h2> -->
                    </div>
                    

                    <div class="row p-0 m-0" style="height: 10%; text-align: center;">
                        <div class="col-1" (click)="goToSocialHandle('gmail')"><img width="25" height="25" src="assets/images/google.png" alt="googleicon"></div>
                        <div class="col-1" (click)="goToSocialHandle('linkedin')"><img width="25" height="25" src="assets/images/linkedin.png" alt="linkedinicon"></div>
                        <!-- <div class="col-1" (click)="goToSocialHandle('github')"><img width="25" height="25" src="assets/images/twitter.png" alt="twitterv"></div> -->
                        <div class="col-1" (click)="goToSocialHandle('github')"><img width="25" height="25" src="assets/images/github.png" alt="twitterv"></div>
                        <div class="col-1" (click)="goToSocialHandle('whatsapp')"><img width="25" height="25" src="assets/images/whatsapp.png" alt="whatsappicon"></div>
                        <!-- <div class="col-1" (click)="goToSocialHandle('github')"><img width="25" height="25" src="assets/images/instagram.png" alt="instagramicon"></div> -->
                        <!-- <div class="col-1" (click)="goToSocialHandle('github')"><img width="25" height="25" src="assets/images/facebook.png" alt="facebookicon"></div> -->
                    </div>
    
                </div>
    
                <div class="row p-0 mx-0 my-2">

                    <button type="button" class="btnClass homeBtnClass my-3 mx-2" (click)="navigateTo('contact')">
                        <b>Let's Connect</b>
                    </button>
                    <button type="button" class="btnClassOutline homeBtnClass my-3 mx-2" (click)="downloadResume()">
                        <b>Download Resume</b>
                    </button>
                </div>
            </div>
            <div class="col-6 text-center">
                <img src="assets/images/profilePic.png" alt="profilePic">
            </div>
        </div>
    </div>
</div>
<!-- WELCOME SECITON END -->

<!-- SKILLS BANNER SECTION START -->
<div class="container-fluid" style="background-color: #ff5c0012;">
    <div class="container">
        <div class="row align-items-center" style="height: 247px;">
            <div class="col text-center">
                <img src="assets/images/html.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/css.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/js.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/ts.png" alt="html" class="homeLanguages">
              </div>
              <div class="col text-center">
                <img src="assets/images/angular.png" alt="html" class="homeLanguages">
              </div>
        </div>
    </div>
</div>
<!-- SKILLS BANNER SECTION END -->

<!-- ABOUT & EXPERIENCE SECTION START -->
<div class="container-fluid">
    <div class="container">

        <div class="row py-3 px-0 justify-content-center" style="margin: 7% 0%;">
            <div class="col-7 text-center">
                <p class="contactSubTitle subTitleFont"><b>Introduction</b> </p>
                <h2 class="contactTitle titleFont">About Me.</h2>
                <p class="contactDescription descriptionFont">
                    I am a professional front-end developer with 3+ years of experience, Passionate about my work, and always eager to grow my skill set to improve the product I m working on. Always ready to take responsibility, Quick Learner, Team player, Love to help colleagues. 
                </p>
            </div>
        </div>


        <div class="row">
            <div class="col-6">
                <div class="row p-0 m-0">
                    <div class="col-12">
                        <div class="subTitleDivider"></div>&nbsp;
                        <p class="contactSubTitle subTitleFont"> <b>Experience & Responsibilities</b> </p>
                        <h2 class="contactTitle titleFont">With 3+ Years of</h2>
                        <h2 class="contactTitle titleFont">Experience in Angular</h2>
                        <h2 class="contactTitle titleFont"> Development</h2>
                        <p class="contactDescription descriptionFont">
                           <li> Working on client requirements using the Angular framework.</li>
                           <li> Fixing bugs assign by the testing team.</li>
                           <li> Reporting to team leader on daily task reports.</li>
                           <li> Attending meetings with clients and project manager.</li>
                           <li> Collaborating with different teams on building websites.</li>
                           <li> Attending live issue in case of any arrivales.</li>
                           <li> Guiding juniors, Interns in their tasks.</li>
                        </p>
                    </div>
                </div>
                <div class="row p-0 mx-0">
                    <button type="button" class="btnClassOutline homeBtnClass my-3 mx-2" (click)="downloadResume()">
                        <b>Download Resume</b>
                    </button>
                </div>
            </div>
            <div class="col-6 text-center">
                <img src="assets/images/working-poster.png" alt="profilePic" style="width: 66%; border-radius: 56px">
            </div>
        </div>
    </div>
</div>
<!-- ABOUT & EXPERIENCE SECTION END -->


<!-- PROJECT SECTION START -->
<div style="height: 750px;">
    <div class="container-fluid" style="margin: 9% 0%; background-color: #f1faff;">
        <div class="container" style="position: relative;">
            <div class="row py-5" style="height: 350px;">
                <div class="col-9">
                    <div class="subTitleDivider"></div>&nbsp;
                    <p class="contactSubTitle subTitleFont"> <b>Projects</b> </p>
                    <h2 class="contactTitle titleFont">Real Time Projects</h2>
                    <p class="contactDescription descriptionFont">
                        Those are some of the projects I would like to showcase it. Where I have used my frontend skill set. There are some industry-level projects & some of them are my personal projects. Where I have used Angular & Ionic Framework. 
                    </p>
                </div>
    
                <div class="row my-3 justify-content-center" style="position: absolute; top:65%">
                    <div class="col-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column" style=" height: auto;">
                                    <!-- <div class="p-2">
                                        <img src="assets/images/loginBanner.png" alt="project-image" style="height: 256px; margin: 0px 17%;">
                                    </div> -->
                                    <div class="p-2">
                                        <h5 class="card-title">Car Pulling App</h5>
                                        <p class="card-text">This project is built using Angular Framework concepts. This project helps to ask for the lift if any one of them are traveling through the same route which helps to reduce traffic problem & air pollution. It was build to practice the Angular Framework to have hands on and get fimiliar with technology.</p>
                                    </div>
                                    <div class="px-2 py-3 mt-auto">
                                        <button class="btnClass my-1" (click)="openGithubProject('carpulling')" >Github Link</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column">
                                    <!-- <div class="p-2">
                                        <img src="assets/images/project1.jpg" alt="project-image" style="width: 100%;">
                                    </div> -->
                                    <div class="p-2">
                                        <h5 class="card-title">Trading Platform</h5>
                                        <p class="card-text">
                                            m.Stock is a stocks trading platform on which I had worked using HTML, CSS, Javascript, Typescript, Angular, Angular Material, Firebase, REST API's, and many more. You can refer screenshot of this project for understanding of my project. As this is a commercial project I m not allowed disclose the code.
                                        </p>
                                    </div>
                                    <div class="px-2 py-3 mt-auto">
                                        <button class="btnClass my-1" (click)="openGithubProject('tradingproject')">Github Link</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 mb-4">
                        <div class="card h-100">
                            <div class="card-body p-0">
                                <div class="d-flex flex-column" style=" height: 100%;">
                                    <!-- <div class="p-2">
                                        <img src="assets/images/project1.jpg" alt="project-image" style="width: 100%;">
                                    </div> -->
                                    <div class="p-2">
                                        <h5 class="card-title">Real Estate Management App</h5>
                                        <p class="card-text">This project is build with help of Angular as frontend & REST API's of backend. It help to onbard the client after client Purchace the Flat and their documentation and calcuation of Area is handled on this platform from start to end.</p>
                                    </div>
                                    <div class="px-2 py-3 mt-auto">
                                        <button class="btnClass my-1" (click)="openGithubProject('realestateproject')">Github Link</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- ABOUT & EXPERIENCE SECTION END -->

<!-- Recommendation SECTION START -->
<div class="container-fluid">
    <div class="container">

        <div class="row py-3 px-0 justify-content-center">
            <div class="col-7 text-center">
                <p class="contactSubTitle subTitleFont"><b>Received</b> </p>
                <h2 class="contactTitle">Recommendation's</h2>
                <p class="contactDescription descriptionFont">
                    Below are some of the best recommendation's given by professionals with whom I have worked in my entire career journey. It helps to motivate me more to upgrade my professional growth.
                </p>
            </div>
        </div>


        <div class="row align-items-center" style="height: 400px;">
            <div class="col-6">
                <div class="row justify-content-around" >
                    <div class="col-12 pt-5 px-5  align-self-center recommandationContainer">
                        <div style="height: 70%; overflow-y: scroll;">
                            <span class="recommandationDescription descriptionFont" >
                                    “ Shreyas is an outstanding Angular Developer professional dedicate to create value to organization.
                                    He has attention to details, provide suitable & most appropriate solution towards the projects.
                                    Shreyas worked with me on the project where I was team lead @Rupeeseed Technology Ventures Group“
                            </span>
                        </div>
                        <div style="height: 30%; ">
                            <div class="row h-100 align-items-center">
                                <!-- <div class="col-2">
                                    <div class="recommdationProfilePic"></div>
                                </div> -->
                                <div class="col-12 align-self-center">   
                                    <p class="m-0 p-0 recommandationName subTitleFont">Pooja Chaudhari</p>
                                    <p class="m-0 p-0 recommandationDesignation descriptionFont">Sr. Software Developer @ Rupeeseed Ventures Pvt. Ltd. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="col-6">
                <div class="row justify-content-around" >
                    <div class="col-12 pt-5 px-5  align-self-center recommandationContainer">
                        <div style="height: 70%; overflow-y: scroll;">
                            <span class="recommandationDescription descriptionFont" >
                                    “ I have worked on a project with Shreyas @RSVPL for WEB development. 
                                    I have observed his keen interest in understanding functional issues and solving them with patience and focus. 
                                    A friendly and joy full team player, which helps keep the work environment light.“
                            </span>
                        </div>
                        <div style="height: 30%; ">
                            <div class="row h-100 align-items-center">
                                <!-- <div class="col-2">
                                    <div class="recommdationProfilePic"></div>
                                </div> -->
                                <div class="col-12 align-self-center">   
                                    <p class="m-0 p-0 recommandationName subTitleFont">Tejaswinee Patkar</p>
                                    <p class="m-0 p-0 recommandationDesignation descriptionFont">Project Manager @ Rupeeseed Ventures Pvt. Ltd. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<!-- Recommendation SECTION END -->