.contactContainerColor{
    background-color: #f0fcff;
}

.contactTitle{
    color: var( --secondary-color );
    /* font-family: "Poppins", Sans-serif; */
    font-size: 52px;
    font-weight: 600;
    line-height: 1.3em;
}

.subTitleDivider{
    height: 2px; 
    /* width: 6%;  */
    width: 42px;
    background-color: var(--secondary-color); 
    border: 2px solid var(--secondary-color); 
    display: inline-block; 
    vertical-align: middle;
    border-radius: 5px;
}

.contactSubTitle{
    color: var( --secondary-color );
    /* font-family: "Poppins", Sans-serif; */
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2em;
    margin-bottom: 20px;
    display: inline-block;
}

.contactDescription{
    font-size: 16px;
}

.homeLanguages{
    width: 70px;
    height: auto;
}

.contactSocialMediaImg{
    width: 39px;
    height: 39px;
    padding: 2%;
}

.contactDescription{
    font-size: 16px;
}

.homeBtnClass{
    width: 175px !important; 
    height: 45px !important;
}

.recommdationProfilePic{
    background-color: var(--recommendation-Profile-background);
    border-radius: 50%;
    height: 68px;
    /* width: 85px; */
}

.recommandationContainer{
    width: 90%; 
    height: 350px;  
    background-color: var(--recommendation-background); 
    border-radius: 30px;
}

.recommandationName{
    font-size: 20px;
}

.recommandationDesignation{
    font-size: 15px;
    color: var(--light-black-subtitle-color);
}

.recommandationDescription{
    font-size: 22px;
}