/* You can add global styles to this file, and also import other style files */

:root {
    --text-color : #F58220;
    --btn-background-color: #F58220;
    --btn-color: #ffffff;
    --secondary-color: #053F5C;
    --light-black-subtitle-color: #585858;
    --recommendation-background: antiquewhite;
    --recommendation-Profile-background: #F58220;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url(./assets/fonts/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url(./assets/fonts/OpenSans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url(./assets/fonts/OpenSans/OpenSans-Bold.ttf);
}

/* Custom Scrollbar Styling  */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--btn-background-color); 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* Custom Scrollbar Styling End  */

/* TITLE FONT STYLE  */
.titleFont{
    font-family: 'OpenSans-Bold' !important;
}

.subTitleFont{
    font-family: 'OpenSans-SemiBold' !important;
}

.descriptionFont{
    font-family: 'OpenSans-Regular' !important;
}

/* TITLE FONT STYLE  */

.btnClass{
    background-color: var(--btn-background-color);
    color: var(--btn-color);
    height: 40px;
    width: 140px !important;
    border: none;
    border-radius: 8px;
    font-family: "Poppins", Sans-serif !important;
}

.btnClassOutline{
    background-color: #ffffff;
    color: var(--btn-color);
    height: 40px;
    width: 140px !important;
    border: 2px solid var(--btn-background-color);;
    border-radius: 8px;
    color: var(--btn-background-color);
    font-family: "Poppins", Sans-serif !important;
}

.nav-link{
    color: #053F5C !important;
}

.primary{
    color: var(--text-color) !important;
}

.customeTitle{
    font-size: 27px;
    font-family: 'Courier New', Courier, monospace;
} 



.form-control:focus  {
    border-color: var(--btn-background-color) !important;
    box-shadow: 0 0 0 0.25rem rgba(253, 133, 13, 0.373) !important;
}

.form-control{
    font-family: 'OpenSans-Regular' !important;
}


.pointer{
    cursor: pointer;
}